name: BNB Bank Production CI/CD Pipeline

on:
  push:
    branches: ["main"]

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4.1.1

      - name: Set up environment
        run: |
          mv .env.example .env
          echo "APP_KEY=${{ secrets.APP_KEY }}" >> .env
          echo "DB_PASSWORD=${{ secrets.DB_PASSWORD }}" >> .env

      - name: Docker Login
        uses: docker/login-action@v3.0.0
        with:
          username: ${{secrets.DOCKER_USER}}
          password: ${{secrets.DOCKER_PWD}}

      - name: Build and push Docker frontend image
        uses: docker/build-push-action@v5.0.0
        with: 
          context: ./bank-system
          file: ./bank-system/Dockerfile
          push: true
          tags: | 
            ldamasio/turno:0.0.${{github.run_number}}
            ldamasio/turno:latest

